* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
}
/* navigation */
.logo i {
  padding-left: 10px;
  font-size: 40px;
}
nav {
  height: 8vh;
  background-color: #d8dbe2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
div.logo {
  flex: 1;
  padding: 15px;
  width: 10%;
  color: black;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}
ul.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 40%;
  /* background-color: pink; */
}
ul li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  letter-spacing: 3px;
  transition: 0.3s ease-in-out;
}
ul li a:hover {
  font-weight: 700;
}

.burger {
  margin-right: 20px;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  display: none;
  transition: 0.3s ease-in-out;
  border-radius: 20%;
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}
.introduction {
  flex: 1;
}
.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585722;
}
.cta {
  padding: 50px 0px 0px 0px;
}
.cta button {
  padding: 5px 8px 5px 8px;
  cursor: pointer;
  border: 1px solid black;
  transition: 0.3s ease;
}
.cta button:hover {
  background-color: black;
  color: white;
}
.cover {
  flex: 1;
}

.cover img {
  height: 60vh;
}

/* tablet view */
@media screen and (max-width: 1024px) {
  ul.nav-links {
    width: 70%;
  }
}
/* smartfon view */
@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
  header {
    text-align: center;
  }
  div.logo {
    display: flex;
  }
  ul.nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    width: 100%;
    flex-direction: column;
    background-color: #d8dbe2;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }

  .burger div {
    display: block;
  }
}
ul.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkfade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.active .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.active .line2 {
  opacity: 0;
}
.active .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
